@import '../../styles/variables';
.card {
	width: 1fr;
	height: fit-content;
	padding: 1rem;
	border-radius: $border-radius;
	box-shadow: $box-shadow;

	.image {
		width: 100%;
		aspect-ratio: 1;
		object-position: center;
	}

	.component__text {
		width: fit-content;
		margin-top: 1rem;
		margin-inline: auto;
	}
}
